<form class="form-fields" [formGroup]="form">
  <app-global-error></app-global-error>
    <h3>Форма с полями</h3>
    <div class="group_input">
      <div class="form-field__one" id="name">
        <input class="form-field__fieldOne" type="number" formControlName="fieldOne" placeholder="Введите значение">
      <div class="errors">
        <app-field-error-display
          [displayError]="isFieldValid('fieldOne')"
          errorMsg="Необходимо число от 18 до 120">
        </app-field-error-display>
      </div>
    </div>
    
    <div class="form-field__two">
        <select class="form-field__combobox" formControlName="fieldSelect" >
            <option value="">--select--</option>
            <option
            *ngFor="let item of comboboxData;"
            >{{ item.title }}</option>
        </select>
        <div class="errors">
          <app-field-error-display 
          [displayError]="isFieldValid('fieldSelect')" 
          errorMsg="Поле не может быть пустым">
        </app-field-error-display>
        </div>
    </div>

    <div class="form-field__three">
        <label>
          <p>Согласен на обработку данных</p>
          <input type="checkbox" formControlName="fieldCheck">
          <span></span>
        </label>
        <div class="errors">
        </div>
    </div>
  </div>

    <div class="from-field__four">
        <button class="btn btn__primary " (click)="handleSubmit()" [disabled]="!form.valid"><p>Далее</p></button>
    </div>
</form>